.form-group {
    position: relative;
    margin-bottom: 25px;
}
.form-group label {
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.0048em;
    color: #27364B;
    margin-bottom: 10px;
}
.ui-selectmenu-menu .ui-menu {
    max-height: 200px;
}
.ui-selectmenu-button,
.ui-selectmenu-button:hover,
.ui-selectmenu-button:focus,
.ui-selectmenu-button:active {
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #CBD4E1;
    border-radius: 4px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 100% !important;
}
.ui-selectmenu-button .ui-icon-triangle-1-s,
.ui-selectmenu-button .ui-icon-triangle-1-s:hover,
.ui-selectmenu-button .ui-icon-triangle-1-s:focus,
.ui-selectmenu-button .ui-icon-triangle-1-s:active {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.80004 9.90002C6.80004 9.30002 7.20004 8.90002 7.80004 8.90002C8.10004 8.90002 8.30004 9.00002 8.50004 9.20002L12 12.7L15.5 9.20002C15.9 8.80002 16.5 8.80002 16.9 9.20002C17.3 9.60002 17.3 10.2 16.9 10.6L12.7 14.8C12.3 15.2 11.7 15.2 11.3 14.8L7.10004 10.6C6.90004 10.4 6.80004 10.1 6.80004 9.90002Z' fill='%2394A3B8'/%3E%3C/svg%3E") !important;
    background-position: center;
}
.ui-selectmenu-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.0048em;
    color: #27364B;
    font-family: 'Inter', sans-serif;
}
.ui-state-active,
.ui-widget-content .ui-state-active {
    border: 1px solid #4eb543;
    background: #4eb543;
    font-weight: 400;
    color: #fff;
}
span.error-block {
    position: absolute;
    top: 82px;
    left: 0;
    font-size: 12px;
    color: red;
}
.form-group.error > span.error-block {
    display: block !important;
}
.form-control {
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #CBD4E1;
    border-radius: 4px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 100% !important;
    font-size: 14px;
}
input.form-control:hover,
input.form-control:active,
input.form-control:focus {
    box-shadow: none;
    outline: 0;
    border: 1px solid #CBD4E1;
}
/* radio btns */
.radio-btns {
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.radio-btns label.radio-option {
    margin-bottom: 10px;
    position: relative;
    margin-right: 15px;
}
input[type=radio]:checked,
input[type=radio]:not(:checked) {
    display: inline-block;
    position: absolute;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}
input[type=radio]+i {
    margin-right: 20px;
    vertical-align: sub;
    height: 20px;
}
input[type=radio]+i:after,
input[type=radio]+i:before,
input[type=radio]+label:after,
input[type=radio]+label:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2px 0;
}
input[type=radio]+i:before,
input[type=radio]+label:before {
    border: 2px solid #94A3B8;
    cursor: pointer;
}
input[type=radio]+i:after, input[type=radio]+label:after {
    border: 2px solid #94A3B8;
    border-radius: 50%;
    transform: scale(0);
    z-index: -1;
}
input[type=radio]+i+span {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.0048em;
    color: #94A3B8;
    margin-left: 8px;
}
input[type=radio]:checked+i+span {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.0048em;
    color: #27364B;
    margin-left: 8px;
}
input[type=radio]:checked+i:before, input[type=radio]:checked+label:before {
    border: 2px solid #3ab64a;
    cursor: pointer;
}
input[type=radio]:checked+i:after, input[type=radio]:checked+label:after {
    background-color: #3ab64a;
    border: 2px solid #3ab64a;
    transform: scale(.5);
    z-index: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}
/* Checkbox */
.check-field {
    margin: 10px 0;
}
input[type=checkbox]:checked,
input[type=checkbox]:not(:checked) {
    display: inline-block;
    position: absolute;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
input[type=checkbox]+i {
    position: relative;
    border-radius: 0;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}
input[type=checkbox]+i:before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    border: 2px solid #5a5a5a;
}
input[type=checkbox]+i:after {
    content: "";
    width: 0;
    height: 0;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    position: absolute;
    left: 5px;
    top: 5px;
    transform: rotate(45deg);
    transition: .2s linear;
}
input[type=checkbox]:checked+i:before {
    border: 2px solid #39b54a;
    background-color: #39b54a;
}
input[type=checkbox]:checked+i:after {
    content: "";
    width: 5px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    position: absolute;
    left: 6px;
    top: 2px;
    transform: rotate(45deg);
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    transition: .2s linear;
}
/* Button */
.formSubmitButton {
    min-width: 198px;
    height: 46px;
    outline: 0;
    border: 0;
    padding: 13px 24px;
    background: #4EB543;
    border-radius: 3px;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
}
.formSubmitButton:hover,
.formSubmitButton:focus,
.formSubmitButton:active {
    background: #43973A;
    text-decoration: none;
    color: #FFFFFF;
    outline: none;
    box-shadow: none;
}
.formSubmitButton-outlined {
    min-width: 100px;
    height: 36px;
    outline: 0;
    border: 0;
    padding: 13px 24px;
    background: #ffffff;
    border: 1px solid #4EB543;
    border-radius: 3px;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #4EB543;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
}
.formSubmitButton-outlined:hover,
.formSubmitButton-outlined:focus,
.formSubmitButton-outlined:active {
    background: #43973A;
    color: #fff;
    text-decoration: none;
}
.md-form {
    padding-top: 50px;
}
/* Multiselect */

.ms-options-wrap>button, .ms-options-wrap>button:focus {
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #CBD4E1;
    border-radius: 4px;
    padding: 12px;
    white-space: nowrap;
    color: #959595;
    text-indent: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ms-options-wrap>button:after {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.80004 9.90002C6.80004 9.30002 7.20004 8.90002 7.80004 8.90002C8.10004 8.90002 8.30004 9.00002 8.50004 9.20002L12 12.7L15.5 9.20002C15.9 8.80002 16.5 8.80002 16.9 9.20002C17.3 9.60002 17.3 10.2 16.9 10.6L12.7 14.8C12.3 15.2 11.7 15.2 11.3 14.8L7.10004 10.6C6.90004 10.4 6.80004 10.1 6.80004 9.90002Z' fill='%2394A3B8'/%3E%3C/svg%3E") !important;
}
.ms-options-wrap>.ms-options {
    margin-top: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: none;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: #fff;
    z-index: 2000;
    border: 1px solid #aaa;
}
.ms-options-wrap>.ms-options>.ms-search input {
    padding: 8px 5px;
    border: #eee solid 1px;
    width: 100%;
    height: 30px;
    margin: 0 0 20px;
    line-height: 30px;
}
.ms-options-wrap>.ms-options>.ms-selectall.global {
    background-color: #f6f6f6;
    padding: 8px 5px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #39b54a;
    text-decoration: none;
    text-align: left;
}
.ms-options-wrap>.ms-options>.ms-selectall.global + ul {
    list-style-type: none;
    padding: 0;
}
.ms-options-wrap>.ms-options>.ms-selectall.global + ul li {
    position: relative;
    padding: 0;
}
.ms-options ul li {
    border-bottom: #ddd dashed 1px;
    width: 100%;
}
.ms-options-wrap>.ms-options>ul label {
    padding: 10px 10px 10px 35px;
    width: 100%;
    padding-left: 35px !important;
    margin: 0;
}
.ms-options-wrap .ms-options ul li label:after {
    border-radius: 2px;
}
.ms-options-wrap .ms-options ul li label:before {
    top: 10px;
    left: 6px;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%;
    transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
    z-index: 1;
    content: '';
    position: absolute;
}
.ms-options-wrap>.ms-options>ul input[type=checkbox] {
    display: inline-block;
    margin-top: 12px;
}
.ms-options-wrap>.ms-options>ul input[type=checkbox] {
    margin-right: 5px;
    left: 6px;
    top: 1px;
}
.ms-options-wrap .ms-options ul li label:after {
    z-index: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #5a5a5a;
    background-color: transparent;
    content: '';
    position: absolute;
    left: 7.5px;
    top: 12px;
    transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
}
.ms-options-wrap .ms-options ul li.selected label:after {
    z-index: 0;
    top: 12px;
    width: 20px;
    height: 20px;
    border: 2px solid #39b54a;
    background-color: #39b54a;
    left: 7.5px;
}
.ms-options-wrap .ms-options ul li.selected label:before {
    top: 14px;
    left: 7.5px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid transparent;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.form-group .help-block {
    display: none;
}
.form-group.is-focused .form-control {
    border: 1px solid #4EB543;
    transition: .3s all;
}
.form-group.has-error .form-control,
.form-group.is-focused.has-error .form-control,
.form-group.has-error.is-focused .form-control {
    border: 1px solid red;
    transition: .3s all;
}
.form-group.is-focused .ui-selectmenu-button.ui-button,
.form-group.is-focused.error .ui-selectmenu-button.ui-button {
    border: 1px solid #4EB543;
    transition: .3s all;
}
.form-group.has-error .ui-selectmenu-button.ui-button {
    border: 1px solid red;
    transition: .3s all;
}
.form-group.has-error .radio-btns .radio-option input[type=radio]+i:before {
    border: 2px solid red;
    transition: .3s all;
}
.form-group.has-error input[type=checkbox]:not(:checked)+i:before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    border: 2px solid red;
}
button.disabled {
    opacity: .5;
    cursor: not-allowed;
}
button.disabled:hover,
button.disabled:focus,
button.disabled:active {
    background: #4EB543;
}
.ms-options-wrap>.ms-options {
    max-height: 200px !important;
    overflow: auto;
}
.hlemi-error {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 80px;
    left: 0;
}
.postfix span {
    position: absolute;
    top: 50px;
    right: 10px;
}
@media (max-width: 575.98px) {
    .formSubmitButton-outlined {
        min-width: auto;
    }
}
.anchor-link {
    max-width: 200px;
    margin: 0 auto;
    text-decoration: none;
}
.anchor-link:hover,
.anchor-link:active,
.anchor-link:focus {
    text-decoration: none;
    color: #fff;
}
