.cibilHamburgermenu {
    display: none;
}

@media (max-width: 991.98px) {
    .hamburgermenu {
        display: none !important;
    }

    .cibilHamburgermenu {
        display: block;
    }
}